doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Dongwoo Lee - Portfolio
  //- My Stylesheet
  link(rel="stylesheet", href="./css/style.css")
  //- Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Exo:300,400,600,700', rel='stylesheet')
  //- Bootstrap
  link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
body
  header#header
    .container-fluid
      .row
        .col-sm-12
          #logo-wrapper
            img(src="./Images/Social Media, Logos & Brands Glyph 30.png", alt="Logo Images")
          ul#main-menu
            li
              a(href="#") Services
            li
              a(href="#") About
            li
              a(href="#") Portfolio
            li
              a(href="#") Resumé
            li
              a(href="#") Contact
          #menu-toggle
            .bar.short
            .bar
            .bar.short
  //- jQuery Script
  script(src="../node_modules/jquery/dist/jquery.min.js")
  //- Bootstrap Script
  script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
  //- Proper.js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.2/umd/popper.min.js")
