ul#list {
  list-style: none;
  padding: 0;
}

li {
  border-radius: 0.2rem;
  color: #fff;
}

li span {
  padding-left: 10px;
}

li.is-primary.box {
  margin: 0 0 1em 1em;
  padding: 0 0 0 1em;
  line-height: 100px;
}

input.input {
  width: 300px;
  margin: 1em;
}

i.fa fa-info-circle {
  right: 0;
}