doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Attandance Application
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css")
  link(rel="stylesheet", href="./css/style.css")
body
  section.header
    h2.title Attandance Management  
      button#add.button CHECK
  section.main
  
  ul#check.columns

  script(src="./js/main.js")