// Paralax

.bird-box
  position: relative
  height: 600px
  background: 
    image: url(../../images/bird-bg.jpg)
    size: auto 650px
    position: top center
    attachment: fixed
  overflow: hidden

.logo
  height: 100px
  width: 100%
  background:
    image: url(../../images/black-bird-logo.svg)
    position: center
    repeat: no-repeat
  position: absolute
  top: 50%
  margin-top: -50px

.fore-bird
  width: 960px
  height: 733px
  background: 
    // color: transparentize(pink, 0.4)
    image: url(../../images/fore-bird.png)
    repeat: no-repeat
    position: right bottom
  position: absolute
  left: 50%
  margin-left: -480px
  top: 380px

.back-bird
  width: 960px
  height: 298px
  background: 
    image: url(../../images/back-bird.png)
    repeat: no-repeat
    position: top left
    // color: transparentize(pink, 0.4)
  position: absolute
  left: 50%
  margin-left: -480px


// Model Grid

.clothes-pics
  margin-bottom: 100px

  figure
    margin-bottom: 20px
    position: relative
    opacity: 0
    transform: translateY(100px)
    transition: all 0.3s ease-in-out
    overflow: hidden
    cursor: pointer
    
    &.is-showing
      opacity: 1
      transform: translateY(0px)
      
    img
      display: block
      transform: scale(1)
      transition: all 0.3s ease-in-out


    &:hover
      figcaption
        left: 0%

      img
        transform: scale(1.2)



  figcaption
    position: absolute
    bottom: 10px
    left: -100%
    background: #000
    color: #fff
    padding: 2px 8px
    font-size: 11px
    transition: all 0.3s ease-in-out

// Large-window

.large-window
  height: 640px
  background: 
    image: url(../../images/model2.jpg)
    position: center 0
    repeat: repeat-y
    attachment: fixed
  margin-top: 100px
  margin-bottom: 100px
  border-radius: 50%
  position: relative
  
  .window-tint
    background-color: rgba(0,0,0,0.5)
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center

    .promo-text
      color: #fff
      font-weight: 100
      font-size: 45px
      line-height: 1.2

      strong
        display: block
        font-size: 30px

      span
        font:
          weight: 300
          size: 18px
          style: italic
        color: rgba(255,255,255,0.6)

      .window-cta
        font-size: 20px
        text-decoration: none
        color: #fff
        border: 1px solid #fff
        padding: 10px 20px
        border-radius: 5px
        transition: all 0.3s ease-in-out

        &:hover
          background: #fff
          color: #000

// posts

.blog-posts
  margin-top: 100px

  .post
    border: 1px solid #e1e1e1
    padding: 20px 20px 0
    background: #fff
    position: relative

  .post-1
    transform: translate(100px, 20px)

  .post-2
    z-index: 0
  .post-3
    transform: translate(-100px, 20px)


// footer

footer
  background: #000
  color: #fff
  padding: 40px 0
  position: fixed
  bottom: 0
  width: 100%

  .footer-stuff
    max-width: 640px
    margin: 0 auto

  a
    color: #fff