//Base Styles

body
  margin: 0

h1
  color: #ccc
  width: 300px

figure
  margin: auto

.content
  position: relative
  z-index: 10
  background: #fff
  margin-bottom: 400px

  article
    padding: 100px 0
    max-width: 640px
    margin: 0 auto
    text-align: center

img
  max-width: 100%
