<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Cine-Kids
  link(rel="stylesheet", href="./css/style.css")
  link(rel="stylesheet", href="./css/skeleton.css")
  link(rel="stylesheet", href="./css/swiper.min.css")
  link(rel="stylesheet", href="./css/carousel.css")
  link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700', rel='stylesheet')


body

  header.cine-box
    .logo
    .fore-cine
  
  section.content

    article

      h1 The Best Cinema's Posters in 2016

      p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nostrum, dolor nesciunt repellendus possimus autem doloribus iure nulla voluptates voluptatem illum repellat qui ut perferendis similique consequatur fuga, dignissimos consequuntur.
      div Officiis reprehenderit dolorum dolore, necessitatibus eum ipsam illum illo amet error architecto tempore cumque ea laborum, nulla aliquid rem pariatur iure inventore porro ratione. Quisquam voluptatem officiis totam, ad porro.

      .swiper-container
        .swiper-wrapper
          .swiper-slide
            img(src="../Images/ShowingLists/01-wiener_dog_xlg-691x1024.jpg", alt="Shwoing Movie Lists").showing-item
          .swiper-slide
            img(src="../Images/ShowingLists/02-moonlight_ver2_xlg-707x1024.jpg", alt="Shwoing Movie Lists").showing-item
          .swiper-slide 
            img(src="../Images/ShowingLists/03-complete_unknown_ver2_xlg-691x1024.jpg", alt="Shwoing Movie Lists").showing-item
          .swiper-slide 
            img(src="../Images/ShowingLists/04-la_la_land_ver2_xlg-664x1024.jpg", alt="Shwoing Movie Lists").showing-item
          .swiper-slide 
            img(src="../Images/ShowingLists/05-jackie_xlg-691x1024.jpg", alt="Shwoing Movie Lists").showing-item
          .swiper-slide 
            img(src="../Images/ShowingLists/06-loving_xlg-691x1024.jpg", alt="Shwoing Movie Lists").showing-item
          .swiper-slide 
            img(src="../Images/ShowingLists/07-sing_street_xlg-691x1024.jpg", alt="Shwoing Movie Lists").showing-item
          .swiper-slide 
            img(src="../Images/ShowingLists/08-certain_women_xlg-691x1024.jpg", alt="Shwoing Movie Lists").showing-item
          .swiper-slide 
            img(src="../Images/ShowingLists/09-dont_breathe_xlg-691x1024.jpg", alt="Shwoing Movie Lists").showing-item
          .swiper-slide 
            img(src="../Images/ShowingLists/10-lo_and_behold_reveries_of_the_connected_world_xlg-692x1024.jpg", alt="Shwoing Movie Lists").showing-item

        .swiper-pagination
      hr
      h1 Great Directors

      p  div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil molestiae, quam dolorem magnam quo pariatur vero sapiente, deserunt architecto praesentium, dolore, eaque perferendis minus tenetur nobis esse est ipsa neque!
      p Excepturi officia quidem numquam quasi iure qui officiis necessitatibus expedita nesciunt consequuntur, dolorum minima in quam, nobis iusto optio earum? Exercitationem enim quisquam voluptates fugit voluptatem natus nesciunt perspiciatis. Dolores.
      

      .directors-pics
        .row.img-row
          figure.columns.three
            img(src="../Images/Best Directors/01.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining
          figure.columns.three
            img(src="../Images/Best Directors/02.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining
          figure.columns.three
            img(src="../Images/Best Directors/03.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining
          figure.columns.three
            img(src="../Images/Best Directors/04.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining
        .row.img-row
          figure.columns.three
            img(src="../Images/Best Directors/05.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining
          figure.columns.three
            img(src="../Images/Best Directors/06.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining
          figure.columns.three
            img(src="../Images/Best Directors/07.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining
          figure.columns.three
            img(src="../Images/Best Directors/08.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining
        .row.img-row
          figure.columns.three
            img(src="../Images/Best Directors/09.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining

          figure.columns.three
            img(src="../Images/Best Directors/10.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining

          figure.columns.three
            img(src="../Images/Best Directors/11.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining

          figure.columns.three
            img(src="../Images/Best Directors/12.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining

        .row.img-row
          figure.columns.three
            img(src="../Images/Best Directors/13.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining

          figure.columns.three
            img(src="../Images/Best Directors/14.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining

          figure.columns.three
            img(src="../Images/Best Directors/15.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining

          figure.columns.three
            img(src="../Images/Best Directors/16.jpg").director-list
            figcaption <strong>Stanley Kubrick</strong> <hr class="hr-special"> The Shining


      hr

    .video-container
      video(width='100%' autoplay muted loop)
        source(src='../pulpfiction.mp4', type='video/mp4')
      .overlay
        h3.overlay-header WATCH THIS
        p.overlay-text <span>from</span> <strong>$0.99</strong>



      div(style="height: 2000px")

  script(src="./js/jquery-3.2.1.min.js")
  script(src="./js/functions.js")
  script(src="./js/swiper.jquery.min.js")
  script(src="./js/swiper.min.js")
  script(src="./js/carousel.js")
