doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title COLORS — FORMULA X #COLORCURATORS
  link(rel="stylesheet", href="./css/main.css")
  //- Fonts
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700', rel='stylesheet')
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:400,700")


body
  section
    .header-image
      .logo
        img(src="../FX/logo.gif", alt="")
      nav.gnb
        .nav
          ul
            li
              a(href="") BESTSELLERS
            li
              a(href="") COLORS
            li
              a(href="") #COLORCURATORS
            li
              a(href="") TREATMENT
            li
              a(href="") THE SETS
  section.content
    
    div.cont-block
      h2 INTRODUCING FULL STRENGTH
      h2 FULL COLOR, MEET TOTAL TREATMENT
      p TOGETHER AT LAST
      p WITH NEW XPERT STROKES™ BRUSH: FASTER, SMOOTHER FINISH
  
  div(style="height: 2000px")