doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title My page Title
  link(rel="stylesheet", href="./css/style.css")

body

  header.bird-box
    .back-bird
    .logo
    .fore-bird

  section.content

  script(src="")
  h2 Hello!
  