doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Black Bird Co.
  link(rel="stylesheet", href="./css/layout-1.css")
  link(rel="stylesheet", href="./css/style.css")
  //- link(rel="stylesheet", href="./css/normalize.css")
  link(rel="stylesheet", href="./css/skeleton.css")
body

  header.bird-box
    .back-bird
    .logo
    .fore-bird

  section.content

    article

      h1 Unique Style

      hr

      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto distinctio doloremque explicabo fugiat maiores, nemo expedita eveniet possimus reprehenderit minus excepturi eligendi placeat suscipit! Eos inventore earum eaque commodi dicta.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium rem possimus blanditiis obcaecati, doloremque mollitia dolor suscipit, enim quibusdam voluptatem. Impedit officiis, quidem perferendis ipsum laudantium, ratione error alias minima.

      hr

      .clothes-pics
        .row.img-row
          figure.columns.four
            img(src="../images/model1.jpg")
            figcaption BlackBird Sweater - <strong>$135</strong>

          figure.columns.four
            img(src="../images/model2.jpg")
            figcaption BlackBird Trousers - <strong>$135</strong>

          figure.columns.four
            img(src="../images/model3.jpg")
            figcaption BlackBird Jacket - <strong>$135</strong>


        .row.img-row
          figure.columns.four
            img(src="../images/model1.jpg")
            figcaption BlackBird Sweater - <strong>$135</strong>

          figure.columns.four
            img(src="../images/model2.jpg")
            figcaption BlackBird Trousers - <strong>$135</strong>

          figure.columns.four
            img(src="../images/model3.jpg")
            figcaption BlackBird Jacket - <strong>$135</strong>

        .row.img-row
          figure.columns.four
            img(src="../images/model1.jpg")
            figcaption BlackBird Sweater - <strong>$135</strong>

          figure.columns.four
            img(src="../images/model2.jpg")
            figcaption BlackBird Trousers - <strong>$135</strong>
    
          figure.columns.four
            img(src="../images/model3.jpg")
            figcaption BlackBird Jackets - <strong>$135</strong>

      hr

      h1 Fine Tayloring 

      hr

      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto distinctio doloremque explicabo fugiat maiores, nemo expedita eveniet possimus reprehenderit minus excepturi eligendi placeat suscipit! Eos inventore earum eaque commodi dicta.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium rem possimus blanditiis obcaecati, doloremque mollitia dolor suscipit, enim quibusdam voluptatem. Impedit officiis, quidem perferendis ipsum laudantium, ratione error alias minima.

      hr

      .large-window
        .window-tint
          .promo-text Fall Suits 
            strong <span>from </span>$99
            a(href="").window-cta Shop Now

      hr

      h1 Rich History

      hr

      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto distinctio doloremque explicabo fugiat maiores, nemo expedita eveniet possimus reprehenderit minus excepturi eligendi placeat suscipit! Eos inventore earum eaque commodi dicta.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium rem possimus blanditiis obcaecati, doloremque mollitia dolor suscipit, enim quibusdam voluptatem. Impedit officiis, quidem perferendis ipsum laudantium, ratione error alias minima.

      hr

      .blog-posts.row

        .post.columns.four.post-1
          h5 Post Title
          img(src="../images/posts/one.jpg", alt="")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          p: a.button(href="") Read More

        .post.columns.four.post-2
          h5 Post Title
          img(src="../images/posts/two.jpg", alt="")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          p: a.button(href="") Read More

        .post.columns.four.post-3
          h5 Post Title
          img(src="../images/posts/three.jpg", alt="")
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          p: a.button(href="") Read More


  footer
    .row.footer-stuff
      .columns.three
        strong FIND US ON
        ul
          li: a(href="") Twitter
          li: a(href="") Facebook
          li: a(href="") Pinterset
          li: a(href="") Instagram

      .columns.three
        strong OTHER SHOPS
        ul
          li: a(href="") Red Robin
          li: a(href="") Emerald Eagle
          li: a(href="") Crimson Crane
          li: a(href="") Auburn Abbot 

      .columns.six
        p <strong>Sign up for the Newsletter</strong>
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit.Velratione, magni
        form.row
          .columns.eight
            input.u-full-width(type="email" placeholder="Your Email")
          .columns.four
            input.button-primary(type="submit")



  script(src="../js/jquery-3.2.1.min.js")
  script(src="../js/function.js")