doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Josephmark
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,900', rel='stylesheet')
  link(rel="stylesheet", href="./css/style.css")
body
  .logo J-M
  section.header
    .hero-main
      h2.hero-title
        p We create work we love, and we believe in what we do.
  .nav-container
    ul
      li 
        span All
      li 
        span In progress
      li 
        span Complete
  .cont-container
      .product-lists
        figure
          img.item-image(src="../Images/Frontside-3.png", alt="product-image")
        figcaption
          h2 A military-grade sports tracker
          p Making performance data easy to understand and easy on the eye.
      .product-lists
        figure
          img#tablet(src="../Images/portfolio-red-bull-sm.png", alt="product-image")
        figcaption
          h2 Red Bull
          p How the largest study of creative style in history can improve performance.
      .product-lists
        figure
          img#phone(src="../Images/portfolio-pin-sm-2.png", alt="product-image")
        figcaption
          h2 Pin
          p Helping golfers keep score, track performance and measure progression.